header {
  color: #2DBEDA;
}

h2 {
  color: rebeccapurple;
}

h3 {
  color: #4AB141;
}

article {
  border-top: 1px solid black;
}

#navigation {
  border-right: 1px solid black;
}

#content {

}

#pages {
  border-left: 1px solid black;
}
